.container{
  position: relative;
  padding: 50px 500px;
}

.item{
  width: 100px;
  height: 30px;
  background: red;
  margin-bottom: 20px;
  /*opacity: 1;
  transform: translateX(0);
  transition: all 1s;
  text-align: center;*/

}

.moveLeft{
  opacity: 0;
  transform: translateX(-300px);
}
